@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&family=Fleur+De+Leah&family=Oswald:wght@200..700&display=swap');
@import url( "../font/SVN-Jabana/stylesheet.css");

body
{	
background-color:rgba(255,255,255,1.00);
	color: rgba(0,0,0,0.50);
	font-family: "Oswald", Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	margin: 0px
}
h1{	font-size: 3rem}
h2{	font-size: 2rem}
h3{	font-size: 1.5rem;}
h4{	font-size: 1.5rem; font-family: "Fleur De Leah", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"}
p{ line-height: 1.8rem}
h1,h2,h3{	
font-weight: 600
}
a{color:#000000;
text-decoration: none}
a:hover{color:rgba(0,255,227,1.00)}
.ss-icon i{margin: 10px}
.font-dacbiet
{	font-family: "Fleur De Leah", Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: 400;
	font-size: 3rem;	
}
.font-jabana
{	
font-family: SVN-Jabana, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}
/*----color style----*/
.background {
      width:auto;
      height:auto;
      background-image: url( "../images/logo@4x.png");
	
    }
.box-shadow-example {
   background-color:rgba(255,255,255,1.00);
padding: 5px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.8); /* Đổ bóng */
	position: relative; /* Đảm bảo phần tử có thể sử dụng z-index */
  z-index: 2; /* Đặt z-index cao để thanh menu nằm trên nền */
  }

.bg-primary{background-color:rgba(82,107,255,0.15)}
.bg-primary-1{background-color:rgba(34,60,97,0.5)}
.bg-primary-hinh {
  background-image: url( "../images/8675798.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/* position:absolute;*/
 background-attachment: fixed; /* Cố định hình nền khi cuộn trang */
  margin: 0;
	z-index: 1;
} 
.bg-primary-hinh-1 {
  background-image: url( "../images/8675798.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/* position:absolute;*/
 /*background-attachment: fixed;*/ /* Cố định hình nền khi cuộn trang */
  margin: 0;
	z-index: 1;
} 
.bg-primary-5{background-color:rgba(0,0,0,1.00)}
.text-primary{ color:rgba(255,255,255,1.00)}
.text-light{ color: rgba(0,21,255,1.00)}
.text-drack{ color: rgba(0,0,82,1.00)}
.text-white{ color: rgba(255,255,255,1.00)}
.text-black{ color: rgba(0,0,0,1.00)}
/*-----highlight-chữ-----*/
.text-highlight {
            color: white; /* Màu cho phần đầu */
        }

        .text-highlight span {
            color:rgba(19,12,139,1.00); /* Màu cho phần nhấn mạnh */
        }

.text-highlight-1 {
            color:rgba(0,0,0,1.00); /* Màu cho phần đầu */
        }

        .text-highlight-1 span {
            color:rgba(253,123,13,1.00); /* Màu cho phần nhấn mạnh */
        }
/*---style cho button - nut mau chinh---*/
.btn-primary
{	background-color: rgba(82,107,255,1.00);
color:aliceblue;
	text-decoration: none;
	padding: 10px 25px; 
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 600
}
.btn-primary-hinh
{	  background-image: url( "../images/8675798.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/* position:absolute;*/
background-attachment: fixed; /* Cố định hình nền khi cuộn trang */
  margin: 0;
	z-index: 1;
color: rgba(255,255,255,1.00);
	text-decoration: none;
	padding: 10px 25px; 
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 600
}
.btn:hover{ background-color: rgba(4,26,155,1.00)}
/*----he-thong-luoi-mobile----*/
*{box-sizing: border-box}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*-- he thong 12 cột medium cho thiết bị loại trung (tablet) ipad*/
@media(min-width:600px)
{
	.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}
}
/*-- hệ thống cột lớn large cho thiết bị từ 1000px trở lên ( pc)*/
@media(min-width:1000px)
	{
	.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}
[class*="col-"]
{
border: 1px /*solid #FF0004*/;	
padding: 15px 
}

.row
{
display: flex;
flex-wrap: wrap
}
.container{ width: 100%}
@media(min-width:600px)
{ 
.container
	{
		width: 80%;
		margin: auto/*lenh nay day box vao 80% vao giua*/
	}
}

.img-100{ max-width: 100%; height: auto}
.text-center{ text-align: center}
/*-----------spacing style-----------*/
.mx-auto{ margin-left: auto; margin-right: auto}
.mt-1{ margin-top: 4px}
.mt-2{ margin-top: 8px}
.mt-3{ margin-top: 12px}
.mt-4{ margin-top: 16px}
.mt-5{ margin-top: 24px}
.mt-6{ margin-top: 72px}
/*-------------*/
.mb-1{ margin-bottom: -4px}
.mb-2{ margin-bottom: -8px}
.mb-3{ margin-bottom: -12px}
.mb-4{ margin-bottom: -16px}
.mb-5{ margin-bottom: -24px}
.mb-6{ margin-bottom: -72px}
/*-------------*/
.mb-c-1{ margin-bottom: 4px}
.mb-c-2{ margin-bottom: 8px}
.mb-c-3{ margin-bottom: 12px}
.mb-c-4{ margin-bottom: 16px}
.mb-c-5{ margin-bottom: 24px}
.mb-c-6{ margin-bottom: 72px}
/*-------------*/
.ml-1{ margin-left: 4px}
.ml-2{ margin-left: 8px}
.ml-3{ margin-left: 12px}
.ml-4{ margin-left: 16px}
.ml-5{ margin-left: 24px}
.ml-6{ margin-left: 72px}
/*-------------*/
.mr-1{ margin-right: 4px}
.mr-2{ margin-right: 8px}
.mr-3{ margin-right: 12px}
.mr-4{ margin-right: 16px}
.mr-5{ margin-right: 24px}
.mr-6{ margin-right: 72px}
.mr-7{ margin-right: 120px}
/*--style-cho-navbar--*/
nav{padding: 10px 0px;
	margin-top: -5px
}
nav .container{ border: 1px;
	position: relative;
	
}

nav .nav-brand{ font-size: 1.2rem; 
	font-weight: 10px;
margin-left: 10px;
margin-top: 10px
}
nav .nav-toggle
{
	position: absolute;
	right: 5px;
	top: 0px;
	cursor: pointer;
	background:rgba(255,255,255,1.00);
	border: 1px /*solid #00F3FF*/;
	color:rgba(0,43,104,1.00);
	font-size: 1.6rem;
	font-weight: bold
}
#menu{margin-right: 00px;
	margin-top: 0px}
#menu ul
{
	list-style: none;
	margin: 0;
	padding: 0
}
#menu ul li { position: relative}
#menu ul li a {padding: 10px;
	display: block;
	border-bottom: 1px}
#menu{display: none}
#dropdown-menu a{margin-left: 10px;
display: block;
border-bottom: 1px}
#dropdown-menu {display: none}

@media(min-width:992px)
{ 
	#menu{display: block !important}
	nav .nav-toggle{display: none}
	nav .container , #menu ul
	{
		display: flex;
		justify-content: space-between;
		align-items:flex-start
	}
	#menu ul li a
	{ border-bottom: none}
	nav #dropdown-menu{display: none}
	#dropdown-menu{
	position: absolute; top: 100%; left: 0;
		flex-direction: column;
		width: 200px; background: white;
		justify-content:space-between;
		align-items:center;
		text-align: left
	}
	
	 #dropdown-menu a{margin-left: 0px}
	
	}
	
/*------- day cac thanh pham trong 1 flex theo chieu doc*/
.align-item-center{ align-items: center}
.align-item-end{ align-items: flex-end}
/*------- day cac thanh pham trong 1 flex theo chieu ngang*/
.justify-center{ justify-content:center}
.justify-end{ justify-content: flex-end}
.justify-between{ justify-content: space-between}
.flex-row-reverse{ flex-direction: row-reverse}
/*-------- spacing style padding-------*/
.p-0{ padding: 0}
.px-40{ padding: 0 40px}
.py-40{ padding: 40px 0}
.text-right{ text-align: right}
.text-left{ text-align: left}
.header{
	position: relative;
	z-index: 1
}
 



.img-900{width: 300px}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden; /* Giới hạn vùng hiển thị */
    background-color:rgba(255,255,255,1.00); /* Màu nền */
}
.image-track {
  display: flex;
  transition: transform 0s linear;
    width: calc(40% * 6); /* Đảm bảo rằng các hình ảnh được xếp hàng ngang */
	animation: scroll 3s linear infinite;
}

.image-track img {
    width: 100%; /* Mỗi hình ảnh chiếm 100% chiều rộng khung nhìn */
    height: auto;
}

@keyframes scroll {
    0% {
        transform: translateX(0); /* Bắt đầu từ vị trí ban đầu */
    }
    100% {
        transform: translateX(-50%); /* Dịch chuyển hết chiều rộng khung nhìn */
    }
}
@media (max-width: 768px) {
  .slider {
    width: 100%;
  }

  .image-track img {
    width: 100%; /* Đảm bảo hình ảnh không bị tràn */
    margin-right: 0;
  }
}
/*tieude-trang*/
.td-trang{ max-height: 200px;
	padding: 40px 0;
	 background-image: url( "../images/8675798.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
/* position:absolute;*/
/* background-attachment: fixed;*/ /* Cố định hình nền khi cuộn trang */
  margin: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.td-trang h1, .td-trang p{ margin: 0}

.progress-bar{
	width: 100%; height: 15px;
	background: rgba(129,129,129,1.00);
	border-radius: 10px
}

.progress{
	height: 100%;
	border-radius: 10px 0 0 10px;
	position: relative;
	
}
.progress span {
	font-size: 0.8rem;
	position: absolute; right:0;
	top: -19px;
	font-weight: 800
}

/* Tab điều hướng */
.tab-buttons { display: flex; 
	flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0; 
	gap: 15px
}

.tab-buttons button {
	justify-content: center;
	background-color:rgba(0,0,0,1.00);
border: none;
  color:rgba(255,255,255,1.00);
padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
border-radius: 5px;
  transition: background 0.5s;
}
.tab-buttons button:hover,
.tab-buttons button .active {
  background-image: url( "../images/8675798.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
	z-index: 1;
}

/* Nội dung tab */
.tab-content {
  display: none;
 /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))*/
  /*gap: 2px;*/
 /*padding: 20px 50px;*/
}

.tab-content.active {
  display: grid;
}

.project-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.project-item img {
  width: 100%;
  display: block;
  transition: transform 0.5s ease;
}

.project-item:hover img {
  transform: scale(1.1);
}


html {
    scroll-behavior: smooth;
}

/* Tab điều hướng */
.tab-buttons-2 { display: flex; 
	flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0; 
	gap: 15px
}

.tab-buttons-2 button{
	justify-content: center;
	background-color:rgba(0,0,0,1.00);
border: none;
  color:rgba(255,255,255,1.00);
padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
border-radius: 5px;
  transition: background 0.5s;
}
.tab-buttons-2 button:hover,
.tab-buttons-2 button .active-2 {
  background-image: url( "../images/8675798.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
	z-index: 1;
}

/* Nội dung tab */
.tab-content-2 {
  display: none;
 /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))*/
  gap: 5px;
 /*padding: 20px 50px;*/
}

.tab-content-2.active-2 {
  display: grid;
}

.item-30{width: 100px;
height: 100px
}
































